#root{
    text-align: center;
}
#grade-calculator{
    background-color: lightblue;
    height: 100vh;
    border: .2rem solid black;
}
#main-container{
 padding: 2rem;

}
.input-subject{
    margin-bottom: 1rem;

}
#sub-container{
    margin-top: 5rem;
    background-color: darkgray;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    margin-right: 5rem;
    border: .2rem solid black;

    
}
#total{
    background-color: darkgray;
    padding: 1rem;
    margin-bottom: 1rem;
    border: .2rem solid black;
    text-align: center;
   
}
#average{
    background-color: darkgray;
    padding: 1rem;
    margin-bottom: 1rem;
    border: .2rem solid black;
    text-align: center;
    
}
#grade{
    background-color: darkgray;
    padding: 1rem;
    margin-bottom: 1rem;
    border: .2rem solid black;
    text-align: center;
   
}
#sub-2{
    display: flex;
    margin-top: 5rem;
    gap: 1rem;
   
}